@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #0B132B;
    padding: 20px;
    color: #FFFFFF;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background: linear-gradient(to right, #8A2BE2, #FF7F50);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#description-container {
    color: #FFFFFF;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: rgb(103 16 122);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 15px lightblue;
    transform: scale(1.01);
}

#num-contributions,
#total-raised,
#num-games {
    font-size: 50px;
    color: #FFFFFF;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: rgb(103 16 122);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px lightblue;
    transform: scale(1.02);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(to right, #8A2BE2, #FF7F50);
    color: #FFFFFF;
}

button:hover {
    transform: scale(1.05);
    background-color: #FFC300;
    box-shadow: 0 0 10px lightblue;
}

/* Challenge #2 */
.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.stats-container:hover {
    box-shadow: 0 0 30px lightblue;
}


.navbar {
    padding: 10px 40px 10px 20px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-list a:hover {
    text-decoration: underline;
}